.login {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.login_container{
width: 300px;;
height: fit-content;
display: flex;
flex-direction: 5px;
border: 3px solid rgb(216, 56, 56);
padding: 20px;


}